<h3>ログインか、会員登録をしてください</h3>

<div class="form-group">
  <a href="/login">
    <button type="button" class="btn btn-info">ログインページ</button>
  </a>
</div>

<div class="form-group">
  <a href="/users/new">
    <button type="button" class="btn btn-warning">会員登録ページ</button>
  </a>
</div>
