<h2>このアプリの使い方</h2>

<ul>
<li>Qiitaの自分の投稿した記事一覧とストックした記事を同期して管理できます。また、自分で気に入ったページも追加可能です。</li>
<li>ユーザーの名前は、<a href="https://qiita.com/">Qiitaのアカウント名</a>と同じにしてください。(例：@abcの場合はabcとしてください。マイページで編集も可能です。)</li>
<li>会員登録の際にQiitaのアクセストークンを入力してください。マイページからも編集可能です。（アクセストークンは<a href="https://qiita.com/settings/tokens/new" target="blank">こちら</a>から取得可能です。）</li>
</ul>

<div class="text-center mb-4">

  <div class="form-group">
    <label>会員登録がまだの方はこちら</label>
    <a href="/users/new">
      <button type="button" class="btn btn-warning">会員登録ページ</button>
    </a>
  </div>

  <div class="form-group">
    <label>会員登録済みの方はこちら</label>
    <a href="/login">
      <button type="button" class="btn btn-info">ログインページ</button>
    </a>
  </div>
</div>
